<h1> All Persons</h1>
<a href="/persons/new">New Person</a>
<% @persons.each do |person| %>

	<div>
	  Person Name : <%= person.name %>
	  <br>
	  Person Email : <%= person.email %>
	  <br>
	  Contact No : <%= person.mobile %>    
	  <br>
	  Person Address : <%= person.address %>
	  <br>
	  <a href="/persons/<%= person.id %>/edit">Edit Details</a>
	  <br>
	  <a href="/persons/<%= person.id %>/destroy">Delete Details</a>
	</div>
	<hr>
<% end %>

